:root {
  --
}

.main__grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-template-rows: 30vh 20vh 50vh;
  /* grid-template-rows: repeat(auto-fit, minmax(30vh, 70vh)); */
}

.main__header {
  grid-row: 1;
  grid-column: 1;
}

.main__services {
  grid-row: 2;
  grid-column: 1;
}

.main__services--card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: .3em;
  width: 1fr;
  padding: 0 10px;
}

.main__services--card:hover {
  transform: translateY(-.2rem);

}

.main__centerContent {
  grid-row: 3;
  grid-column: 2;
}

.main__testimonials {
  grid-row: 1;
  grid-column: 3;
}

.main__testimonials--card {

}

.footer__actionButton {
  position: relative
}

.footer__actionButton--photos {

}

.footer__actionButton--about {

}

.footer__actionButton--contact {

}